### Load tensorflow

In [1]:
import tensorflow as tf

In [2]:
from sklearn.preprocessing import Normalizer

### Enable Eager Execution if you are using tensorflow 1.x

In [3]:
# Enable Eager Execution
tf.enable_eager_execution()

### Collect Data

In [4]:
import pandas as pd

In [5]:
data = pd.read_csv('prices.csv')

### Check all columns in the dataset

In [6]:
data.dtypes

date       object
symbol     object
open      float64
close     float64
low       float64
high      float64
volume    float64
dtype: object

In [7]:
data.columns

Index(['date', 'symbol', 'open', 'close', 'low', 'high', 'volume'], dtype='object')

In [8]:
data.head()

,date,symbol,open,close,low,high,volume
0,2016-01-05 00:00:00,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0
1,2016-01-06 00:00:00,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0
2,2016-01-07 00:00:00,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0
3,2016-01-08 00:00:00,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0
4,2016-01-11 00:00:00,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0

### Drop columns `date` and  `symbol`

In [9]:
data = data.drop(columns=['date','symbol'], axis = 1)

In [10]:
data.head()

         open       close         low        high     volume
0  123.430000  125.839996  122.309998  126.250000  2163600.0
1  125.239998  119.980003  119.940002  125.540001  2386400.0
2  116.379997  114.949997  114.930000  119.739998  2489500.0
3  115.480003  116.620003  113.500000  117.440002  2006300.0
4  117.010002  114.970001  114.089996  117.330002  1408600.0

### Consider only first 1000 rows in the dataset for building feature set and target set

In [11]:
data = data.head(1000)

In [12]:
data.shape

(1000, 5)

In [13]:
data.sample(5)

           open       close         low        high     volume
54   121.470001  119.379997  119.099998  121.470001   444200.0
536   22.209999   21.870001   21.790001   22.219999  3680300.0
861   34.680000   34.459999   34.360001   34.930000  2485100.0
445  170.050003  173.080002  169.509995  174.250000  9135000.0
224  124.370003  124.820000  122.919998  125.400002  1011700.0

### Convert Float64 to Float32

In [14]:
data = data.astype('float32')

### Divide the data into train and test sets

In [15]:
from sklearn.model_selection import train_test_split

X1 = data.drop(columns= "close" , axis = 1) 
Y1 = data["close"]

### Normalize Train and Test Data

In [16]:


train_x, test_x,train_y,test_y = train_test_split(X1, Y1, test_size=.3, random_state=7)

In [17]:
import numpy as np
transformer = Normalizer()
X1_train= transformer.fit_transform(train_x)
Y1_train=np.array(train_y)

## Building the graph in tensorflow

2.Define Weights and Bias

In [18]:
#We are initializing weights and Bias with Zero
w = tf.zeros(shape=(4,1))
b = tf.zeros(shape=(1))

3.Prediction

In [19]:
def prediction(x, w, b):
   
   xw_matmul = tf.matmul(x, w)
   y = tf.add(xw_matmul, b)
   
   return y

4.Loss (Cost) Function [Mean square error]

In [20]:
def loss(y_actual, y_predicted):
   
   diff = y_actual - y_predicted
   sqr = tf.square(diff)
   avg = tf.reduce_mean(sqr)
   
   return avg

5.GradientDescent Optimizer to minimize Loss [GradientDescentOptimizer]

In [21]:
def train(x, y_actual, w, b, learning_rate=0.01):
   
   #Record mathematical operations on 'tape' to calculate loss
   with tf.GradientTape() as t:
       
       t.watch([w,b])
       
       current_prediction = prediction(x, w, b)
       current_loss = loss(y_actual, current_prediction)
   
   #Calculate Gradients for Loss with respect to Weights and Bias
   dw, db = t.gradient(current_loss,[w, b])
   
   #Update Weights and Bias
   w = w - learning_rate*dw
   b = b - learning_rate*db
   
   return w, b

## Execute the Graph for 100 epochs and observe the loss

In [22]:
for i in range(100):
   
   w, b = train(X1_train, Y1_train, w, b)
   print('Current Loss on iteration', i, loss(Y1_train, prediction(X1_train, w, b)).numpy())

Current Loss on iteration 0 8002.6514
Current Loss on iteration 1 7663.568
Current Loss on iteration 2 7351.0693
Current Loss on iteration 3 7063.065
Current Loss on iteration 4 6797.6504
Current Loss on iteration 5 6553.033
Current Loss on iteration 6 6327.599
Current Loss on iteration 7 6119.838
Current Loss on iteration 8 5928.3647
Current Loss on iteration 9 5751.9062
Current Loss on iteration 10 5589.279
Current Loss on iteration 11 5439.4014
Current Loss on iteration 12 5301.2764
Current Loss on iteration 13 5173.9775
Current Loss on iteration 14 5056.66
Current Loss on iteration 15 4948.547
Current Loss on iteration 16 4848.9023
Current Loss on iteration 17 4757.0684
Current Loss on iteration 18 4672.4365
Current Loss on iteration 19 4594.4424
Current Loss on iteration 20 4522.562
Current Loss on iteration 21 4456.313
Current Loss on iteration 22 4395.265
Current Loss on iteration 23 4338.999
Current Loss on iteration 24 4287.1455
Current Loss on iteration 25 4239.3525
Current Loss on iteration 26 4195.3125
Current Loss on iteration 27 4154.721
Current Loss on iteration 28 4117.3145
Current Loss on iteration 29 4082.8394
Current Loss on iteration 30 4051.0688
Current Loss on iteration 31 4021.7888
Current Loss on iteration 32 3994.8047
Current Loss on iteration 33 3969.9346
Current Loss on iteration 34 3947.0127
Current Loss on iteration 35 3925.8904
Current Loss on iteration 36 3906.4236
Current Loss on iteration 37 3888.4844
Current Loss on iteration 38 3871.9487
Current Loss on iteration 39 3856.7126
Current Loss on iteration 40 3842.6692
Current Loss on iteration 41 3829.7275
Current Loss on iteration 42 3817.7986
Current Loss on iteration 43 3806.8079
Current Loss on iteration 44 3796.6753
Current Loss on iteration 45 3787.3428
Current Loss on iteration 46 3778.7356
Current Loss on iteration 47 3770.807
Current Loss on iteration 48 3763.4978
Current Loss on iteration 49 3756.7632
Current Loss on iteration 50 3750.5557
Current Loss on iteration 51 3744.8323
Current Loss on iteration 52 3739.5645
Current Loss on iteration 53 3734.7046
Current Loss on iteration 54 3730.2258
Current Loss on iteration 55 3726.0999
Current Loss on iteration 56 3722.2969
Current Loss on iteration 57 3718.7917
Current Loss on iteration 58 3715.5593
Current Loss on iteration 59 3712.584
Current Loss on iteration 60 3709.8408
Current Loss on iteration 61 3707.3125
Current Loss on iteration 62 3704.9817
Current Loss on iteration 63 3702.8342
Current Loss on iteration 64 3700.8552
Current Loss on iteration 65 3699.0317
Current Loss on iteration 66 3697.3481
Current Loss on iteration 67 3695.8005
Current Loss on iteration 68 3694.3762
Current Loss on iteration 69 3693.0576
Current Loss on iteration 70 3691.846
Current Loss on iteration 71 3690.7253
Current Loss on iteration 72 3689.6973
Current Loss on iteration 73 3688.75
Current Loss on iteration 74 3687.8718
Current Loss on iteration 75 3687.0667
Current Loss on iteration 76 3686.3252
Current Loss on iteration 77 3685.6409
Current Loss on iteration 78 3685.0068
Current Loss on iteration 79 3684.4277
Current Loss on iteration 80 3683.8896
Current Loss on iteration 81 3683.3992
Current Loss on iteration 82 3682.943
Current Loss on iteration 83 3682.5212
Current Loss on iteration 84 3682.135
Current Loss on iteration 85 3681.7798
Current Loss on iteration 86 3681.4497
Current Loss on iteration 87 3681.1477
Current Loss on iteration 88 3680.8687
Current Loss on iteration 89 3680.6123
Current Loss on iteration 90 3680.3765
Current Loss on iteration 91 3680.1562
Current Loss on iteration 92 3679.955
Current Loss on iteration 93 3679.7715
Current Loss on iteration 94 3679.599
Current Loss on iteration 95 3679.44
Current Loss on iteration 96 3679.2974
Current Loss on iteration 97 3679.1626
Current Loss on iteration 98 3679.0405
Current Loss on iteration 99 3678.9253

### Get the shapes and values of W and b

In [23]:
#Check Weights and Bias
print('Weights:\n', w.numpy())
print('Bias:\n',b.numpy())

Weights:
 [[2.5353245e-03]
 [2.5108384e-03]
 [2.5564781e-03]
 [3.3674854e+01]]
Bias:
 [33.67486]

### Linear Classification using Keras

### Building the simple Neural Network in Keras with one neuron in the dense hidden layer.
#### Use Mean square error as loss function and sgd as optimizer

In [24]:
# model = tf.keras.models.Sequential()
# model.add(tf.keras.layers.BatchNormalization())
# model.add(tf.keras.layers.Dense(1,  input_shape=(4,)))

In [25]:
#Initialize Sequential Graph (model)
model = tf.keras.Sequential()

#Add Dense layer for prediction - Keras declares weights and bias automatically
model.add(tf.keras.layers.Dense(1, input_shape=(4,)))

#Compile the model - add Loss and Gradient Descent optimizer
model.compile(optimizer='sgd', loss='mse')

### Execute the model

In [26]:
model.fit(train_x,train_y, epochs=100)

Epoch 1/100
700/700 [==============================] - 0s 196us/sample - loss: nan
Epoch 2/100
700/700 [==============================] - 0s 67us/sample - loss: nan
Epoch 3/100
700/700 [==============================] - 0s 53us/sample - loss: nan
Epoch 4/100
700/700 [==============================] - 0s 53us/sample - loss: nan
Epoch 5/100
700/700 [==============================] - 0s 57us/sample - loss: nan
Epoch 6/100
700/700 [==============================] - 0s 54us/sample - loss: nan
Epoch 7/100
700/700 [==============================] - 0s 57us/sample - loss: nan
Epoch 8/100
700/700 [==============================] - 0s 47us/sample - loss: nan
Epoch 9/100
700/700 [==============================] - 0s 49us/sample - loss: nan
Epoch 10/100
700/700 [==============================] - 0s 49us/sample - loss: nan
Epoch 11/100
700/700 [==============================] - 0s 44us/sample - loss: nan
Epoch 12/100
700/700 [==============================] - 0s 49us/sample - loss: nan
Epoch 13/100
700/700 [==============================] - 0s 56us/sample - loss: nan
Epoch 14/100
700/700 [==============================] - 0s 63us/sample - loss: nan
Epoch 15/100
700/700 [==============================] - 0s 50us/sample - loss: nan
Epoch 16/100
700/700 [==============================] - 0s 54us/sample - loss: nan
Epoch 17/100
700/700 [==============================] - 0s 39us/sample - loss: nan
Epoch 18/100
700/700 [==============================] - 0s 54us/sample - loss: nan
Epoch 19/100
700/700 [==============================] - 0s 44us/sample - loss: nan
Epoch 20/100
700/700 [==============================] - 0s 67us/sample - loss: nan
Epoch 21/100
700/700 [==============================] - 0s 63us/sample - loss: nan
Epoch 22/100
700/700 [==============================] - 0s 51us/sample - loss: nan
Epoch 23/100
700/700 [==============================] - 0s 60us/sample - loss: nan
Epoch 24/100
700/700 [==============================] - 0s 53us/sample - loss: nan
Epoch 25/100
700/700 [==============================] - 0s 56us/sample - loss: nan
Epoch 26/100
700/700 [==============================] - 0s 50us/sample - loss: nan
Epoch 27/100
700/700 [==============================] - 0s 54us/sample - loss: nan
Epoch 28/100
700/700 [==============================] - 0s 59us/sample - loss: nan
Epoch 29/100
700/700 [==============================] - 0s 43us/sample - loss: nan
Epoch 30/100
700/700 [==============================] - 0s 43us/sample - loss: nan
Epoch 31/100
700/700 [==============================] - 0s 54us/sample - loss: nan
Epoch 32/100
700/700 [==============================] - 0s 49us/sample - loss: nan
Epoch 33/100
700/700 [==============================] - 0s 46us/sample - loss: nan
Epoch 34/100
700/700 [==============================] - 0s 57us/sample - loss: nan
Epoch 35/100
700/700 [==============================] - 0s 54us/sample - loss: nan
Epoch 36/100
700/700 [==============================] - 0s 61us/sample - loss: nan
Epoch 37/100
700/700 [==============================] - 0s 57us/sample - loss: nan
Epoch 38/100
700/700 [==============================] - 0s 51us/sample - loss: nan
Epoch 39/100
700/700 [==============================] - 0s 63us/sample - loss: nan
Epoch 40/100
700/700 [==============================] - 0s 63us/sample - loss: nan
Epoch 41/100
700/700 [==============================] - 0s 56us/sample - loss: nan
Epoch 42/100
700/700 [==============================] - 0s 49us/sample - loss: nan
Epoch 43/100
700/700 [==============================] - ETA: 0s - loss: n - 0s 54us/sample - loss: nan
Epoch 44/100
700/700 [==============================] - 0s 51us/sample - loss: nan
Epoch 45/100
700/700 [==============================] - 0s 76us/sample - loss: nan
Epoch 46/100
700/700 [==============================] - 0s 50us/sample - loss: nan
Epoch 47/100
700/700 [==============================] - 0s 53us/sample - loss: nan
Epoch 48/100
700/700 [==============================] - 0s 57us/sample - loss: nan
Epoch 49/100
700/700 [==============================] - 0s 49us/sample - loss: nan
Epoch 50/100
700/700 [==============================] - 0s 63us/sample - loss: nan
Epoch 51/100
700/700 [==============================] - 0s 40us/sample - loss: nan
Epoch 52/100
700/700 [==============================] - 0s 44us/sample - loss: nan
Epoch 53/100
700/700 [==============================] - 0s 49us/sample - loss: nan
Epoch 54/100
700/700 [==============================] - 0s 53us/sample - loss: nan
Epoch 55/100
700/700 [==============================] - 0s 51us/sample - loss: nan
Epoch 56/100
700/700 [==============================] - 0s 59us/sample - loss: nan
Epoch 57/100
700/700 [==============================] - 0s 43us/sample - loss: nan
Epoch 58/100
700/700 [==============================] - 0s 44us/sample - loss: nan
Epoch 59/100
700/700 [==============================] - 0s 61us/sample - loss: nan
Epoch 60/100
700/700 [==============================] - 0s 51us/sample - loss: nan
Epoch 61/100
700/700 [==============================] - ETA: 0s - loss: n - 0s 44us/sample - loss: nan
Epoch 62/100
700/700 [==============================] - 0s 41us/sample - loss: nan
Epoch 63/100
700/700 [==============================] - 0s 49us/sample - loss: nan
Epoch 64/100
700/700 [==============================] - 0s 53us/sample - loss: nan
Epoch 65/100
700/700 [==============================] - 0s 40us/sample - loss: nan
Epoch 66/100
700/700 [==============================] - 0s 49us/sample - loss: nan
Epoch 67/100
700/700 [==============================] - 0s 41us/sample - loss: nan
Epoch 68/100
700/700 [==============================] - 0s 39us/sample - loss: nan
Epoch 69/100
700/700 [==============================] - 0s 43us/sample - loss: nan
Epoch 70/100
700/700 [==============================] - 0s 46us/sample - loss: nan
Epoch 71/100
700/700 [==============================] - 0s 50us/sample - loss: nan
Epoch 72/100
700/700 [==============================] - 0s 57us/sample - loss: nan
Epoch 73/100
700/700 [==============================] - 0s 43us/sample - loss: nan
Epoch 74/100
700/700 [==============================] - 0s 49us/sample - loss: nan
Epoch 75/100
700/700 [==============================] - 0s 47us/sample - loss: nan
Epoch 76/100
700/700 [==============================] - 0s 59us/sample - loss: nan
Epoch 77/100
700/700 [==============================] - 0s 63us/sample - loss: nan
Epoch 78/100
700/700 [==============================] - 0s 66us/sample - loss: nan
Epoch 79/100
700/700 [==============================] - 0s 47us/sample - loss: nan
Epoch 80/100
700/700 [==============================] - 0s 49us/sample - loss: nan
Epoch 81/100
700/700 [==============================] - 0s 41us/sample - loss: nan
Epoch 82/100
700/700 [==============================] - 0s 46us/sample - loss: nan
Epoch 83/100
700/700 [==============================] - 0s 49us/sample - loss: nan
Epoch 84/100
700/700 [==============================] - 0s 54us/sample - loss: nan
Epoch 85/100
700/700 [==============================] - 0s 44us/sample - loss: nan
Epoch 86/100
700/700 [==============================] - 0s 50us/sample - loss: nan
Epoch 87/100
700/700 [==============================] - 0s 41us/sample - loss: nan
Epoch 88/100
700/700 [==============================] - 0s 57us/sample - loss: nan
Epoch 89/100
700/700 [==============================] - 0s 61us/sample - loss: nan
Epoch 90/100
700/700 [==============================] - 0s 36us/sample - loss: nan
Epoch 91/100
700/700 [==============================] - 0s 43us/sample - loss: nan
Epoch 92/100
700/700 [==============================] - 0s 39us/sample - loss: nan
Epoch 93/100
700/700 [==============================] - 0s 41us/sample - loss: nan
Epoch 94/100
700/700 [==============================] - 0s 43us/sample - loss: nan
Epoch 95/100
700/700 [==============================] - 0s 50us/sample - loss: nan
Epoch 96/100
700/700 [==============================] - 0s 40us/sample - loss: nan
Epoch 97/100
700/700 [==============================] - 0s 44us/sample - loss: nan
Epoch 98/100
700/700 [==============================] - 0s 67us/sample - loss: nan
Epoch 99/100

700/700 [==============================] - 0s 41us/sample - loss: nan
Epoch 100/100
700/700 [==============================] - 0s 43us/sample - loss: nan

In [27]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 1)                 5
=================================================================
Total params: 5
Trainable params: 5
Non-trainable params: 0
_________________________________________________________________

In [28]:
model.get_weights()

[array([[nan],
        [nan],
        [nan],
        [nan]], dtype=float32), array([nan], dtype=float32)]

### Classification using Keras

### Load the given Iris data using pandas (Iris.csv)

In [194]:
# iris= mount_drive("Iris-1.csv")
iris = pd.read_csv('Iris-2.csv')

In [195]:
iris.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [196]:
iris.head(3)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa

In [197]:
iris["Species"] = pd.Categorical(iris["Species"]).codes

In [198]:
iris.drop("Id",axis=1,inplace=True)

### Splitting the data into feature set and target set

In [199]:
features = iris.drop(columns= ['Species']) 

target = iris[['Species']]

In [200]:

features.head(5)

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [201]:
target.head(5)

   Species
0        0
1        0
2        0
3        0
4        0

### Target set has different categories. So, Label encode them. And convert into one-hot vectors using get_dummies in pandas.

In [202]:
from sklearn.preprocessing import LabelEncoder

In [203]:
Y_processed = pd.DataFrame(target).apply(LabelEncoder().fit_transform)

In [204]:
testY = tf.keras.utils.to_categorical(Y_processed, num_classes=3)

In [205]:
testY

array([[1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.]], dtype=float32)

### Divide the dataset into Training and test (70:30)

In [206]:
from sklearn.model_selection import train_test_split
transformer = Normalizer()
#features = transformer.fit_transform(features)

train_x, test_x,train_y,test_y = train_test_split(features, testY, test_size=.3, random_state=7)

### Model
Build the model with following layers: <br>
1. First dense layer with 10 neurons with input shape 4 (according to the feature set) <br>
2. Second Dense layer with 8 neurons <br>
3. Output layer with 3 neurons with softmax activation (output layer, 3 neurons as we have 3 classes) <br>
4. Use SGD and categorical_crossentropy loss

In [207]:
model = tf.keras.models.Sequential()
model.add(tf.keras.layers.BatchNormalization())

model.add(tf.keras.layers.Dense(10, activation='relu', input_shape=(4,)))
model.add(tf.keras.layers.Dense(8, activation='relu'))
model.add(tf.keras.layers.Dense(3, activation='softmax'))

#Create optimizer with non-default learning rate
sgd_optimizer = tf.keras.optimizers.SGD(lr=0.03)

#Compile the model
model.compile(optimizer=sgd_optimizer, loss='categorical_crossentropy', metrics=['accuracy'])

### Fitting the model and predicting

In [212]:
#train model
model.fit(train_x.values, train_y, validation_split=0.2, epochs=30)

Train on 84 samples, validate on 21 samples
Epoch 1/30
84/84 [==============================] - 1s 14ms/sample - loss: 1.0736 - acc: 0.2976 - val_loss: 1.2921 - val_acc: 0.3810
Epoch 2/30
84/84 [==============================] - 0s 262us/sample - loss: 1.0281 - acc: 0.2976 - val_loss: 1.1440 - val_acc: 0.3810
Epoch 3/30
84/84 [==============================] - 0s 262us/sample - loss: 0.9982 - acc: 0.2976 - val_loss: 1.0671 - val_acc: 0.3810
Epoch 4/30
84/84 [==============================] - 0s 297us/sample - loss: 0.9725 - acc: 0.3333 - val_loss: 1.0171 - val_acc: 0.3810
Epoch 5/30
84/84 [==============================] - 0s 202us/sample - loss: 0.9646 - acc: 0.4762 - val_loss: 0.9582 - val_acc: 0.3810
Epoch 6/30
84/84 [==============================] - 0s 309us/sample - loss: 0.9379 - acc: 0.5476 - val_loss: 0.9221 - val_acc: 0.3810
Epoch 7/30
84/84 [==============================] - 0s 202us/sample - loss: 0.9164 - acc: 0.6667 - val_loss: 0.8937 - val_acc: 0.3810
Epoch 8/30
84/84 [==============================] - 0s 238us/sample - loss: 0.8981 - acc: 0.7143 - val_loss: 0.8676 - val_acc: 0.3810
Epoch 9/30
84/84 [==============================] - 0s 214us/sample - loss: 0.8807 - acc: 0.7381 - val_loss: 0.8519 - val_acc: 0.6667
Epoch 10/30
84/84 [==============================] - 0s 321us/sample - loss: 0.8660 - acc: 0.7619 - val_loss: 0.8370 - val_acc: 0.7619
Epoch 11/30
84/84 [==============================] - 0s 297us/sample - loss: 0.8580 - acc: 0.7262 - val_loss: 0.8252 - val_acc: 0.8095
Epoch 12/30
84/84 [==============================] - 0s 405us/sample - loss: 0.8303 - acc: 0.7381 - val_loss: 0.8136 - val_acc: 0.8571
Epoch 13/30
84/84 [==============================] - 0s 167us/sample - loss: 0.8289 - acc: 0.7976 - val_loss: 0.8028 - val_acc: 0.9048
Epoch 14/30
84/84 [==============================] - 0s 381us/sample - loss: 0.8079 - acc: 0.7500 - val_loss: 0.7928 - val_acc: 0.9048
Epoch 15/30
84/84 [==============================] - 0s 226us/sample - loss: 0.8013 - acc: 0.7738 - val_loss: 0.7859 - val_acc: 0.9048
Epoch 16/30
84/84 [==============================] - 0s 274us/sample - loss: 0.7776 - acc: 0.7500 - val_loss: 0.7763 - val_acc: 0.9048
Epoch 17/30
84/84 [==============================] - 0s 286us/sample - loss: 0.7468 - acc: 0.7738 - val_loss: 0.7675 - val_acc: 0.9048
Epoch 18/30
84/84 [==============================] - 0s 369us/sample - loss: 0.7276 - acc: 0.7976 - val_loss: 0.7602 - val_acc: 0.8571
Epoch 19/30
84/84 [==============================] - 0s 274us/sample - loss: 0.7281 - acc: 0.7738 - val_loss: 0.7513 - val_acc: 0.9048
Epoch 20/30
84/84 [==============================] - 0s 262us/sample - loss: 0.7085 - acc: 0.7738 - val_loss: 0.7444 - val_acc: 0.8095
Epoch 21/30
84/84 [==============================] - 0s 250us/sample - loss: 0.6946 - acc: 0.7619 - val_loss: 0.7393 - val_acc: 0.8095
Epoch 22/30
84/84 [==============================] - 0s 238us/sample - loss: 0.6752 - acc: 0.7619 - val_loss: 0.7333 - val_acc: 0.8095
Epoch 23/30
84/84 [==============================] - 0s 190us/sample - loss: 0.6649 - acc: 0.7976 - val_loss: 0.7286 - val_acc: 0.7619
Epoch 24/30
84/84 [==============================] - 0s 190us/sample - loss: 0.6528 - acc: 0.8095 - val_loss: 0.7240 - val_acc: 0.6667
Epoch 25/30
84/84 [==============================] - 0s 155us/sample - loss: 0.6363 - acc: 0.8214 - val_loss: 0.7180 - val_acc: 0.6667
Epoch 26/30
84/84 [==============================] - 0s 202us/sample - loss: 0.6256 - acc: 0.7857 - val_loss: 0.7143 - val_acc: 0.6190
Epoch 27/30
84/84 [==============================] - 0s 250us/sample - loss: 0.6115 - acc: 0.7857 - val_loss: 0.7091 - val_acc: 0.6190
Epoch 28/30
84/84 [==============================] - 0s 416us/sample - loss: 0.5890 - acc: 0.7976 - val_loss: 0.7017 - val_acc: 0.6190
Epoch 29/30
84/84 [==============================] - 0s 274us/sample - loss: 0.5845 - acc: 0.8095 - val_loss: 0.6975 - val_acc: 0.6190
Epoch 30/30
84/84 [==============================] - 0s 226us/sample - loss: 0.5749 - acc: 0.8333 - val_loss: 0.6911 - val_acc: 0.6190

### Report Accuracy of the predicted values

In [213]:
model.evaluate(test_x,test_y)

45/45 [==============================] - 0s 8ms/sample - loss: 0.7459 - acc: 0.6444

[0.7459042800797356, 0.64444447]

In [214]:
model.summary()

Model: "sequential_7"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
batch_normalization_7 (Batch multiple                  16
_________________________________________________________________
dense_19 (Dense)             multiple                  50
_________________________________________________________________
dense_20 (Dense)             multiple                  88
_________________________________________________________________
dense_21 (Dense)             multiple                  27
=================================================================
Total params: 181
Trainable params: 173
Non-trainable params: 8
_________________________________________________________________